/* 
  Write here your CSS rules for HackYourRepo!
*/
/* 
  Write here your CSS rules for HackYourRepo!
*/

* {
  margin: 0;
  padding :0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-flow: column;
  background: #f5f5f0;
}

main {
  width: 100%;
  height: 100vw;
  margin: auto;
  align-items: center;
  
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: #1a75ff;
  box-shadow: 2px 5px 7px #000;
  width: 100%;
  height: 90px;
  color: #fff;
  margin: auto;
  margin-bottom: 30px;
  padding-left: 12px;
}

.section1 select {
  width: 270px;
  box-shadow: 2px 3px 4px #000;


}

 .repo-and-contributor-container {
   display: flex;
   flex-direction: column;
   margin-top: 30px;
   padding: 10px;
   
} 

.repo-section {
  width: 100%;
  margin-bottom: 35px;
}

.contributors-section {
  width: 100%;
}

.contributors {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  
}

.contributors span {
  flex-grow: 0;
  background: #999;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  width: 40px;
  
}


.contributors a {
  flex-grow: 9;
  margin-left: 10px;
}


li {
  width: 100%;
  list-style: none;
  box-shadow: 2px 5px 7px #000;
  background: #fff;
  height: 100px;
  padding: 10px;

}

li a {
  text-decoration: none;
  color: #000;
}

img {
  width: 50px;
}

td {
  padding-left: 9px;
}


/* MEDIA QUERIES*/

@media (min-width: 480px) {
  ul {
    margin: auto;      
  }
}

@media (min-width: 768px) {
  ul {
    width: 80%;   
  }
  
  .section1 {
    width: 80%;
  }
  
}

@media (min-width: 992px) {		
		  
  .section1 {
    width: 95%;
    
  }
  ul {
    width: 95%;   
  }
  
  .repo-section {
  width: 50%;
  
}
  .repo-and-contributor-container {
    flex-direction: row;
  }

.contributors-section {
  width: 50%;
}
}
